<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hilton.Properties.Settings.HiltonConnectionString"
            connectionString="Data Source=DESKTOP-7S2DJ8P;Initial Catalog=Hilton;User ID=adminHilton;Password=2357"
            providerName="System.Data.SqlClient" />
        <add name="Hilton.Properties.Settings.HiltonConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Hilton;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Hilton.Properties.Settings.HiltonConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=Hilton;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>